/* Header.module.css */
.horizontalList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Esto centra los elementos horizontalmente */
}

.horizontalList li {
  display: inline-block; /* Esto hace que los elementos estén en línea horizontalmente */
  margin-right: 10px; /* Puedes ajustar el margen según tus necesidades */
}
